<h1 ><center> Welcome my Dude!</center> </h1> 
<h1 ><center> The Foodtruck is up and running</center> </h1> 
<h1 ><center>Click the truck to dispatch your location.</center> </h1> 


<center><%= link_to (image_tag 'truck.png'), new_dude_path %></center>